/*

All application variables

*/

$black:                 #000000;
$white:                 #FFFFFF;

$light-blue:            #E0EAF6;
$light-blue-100:        #F6F8FA;
$light-blue-200:        #F2F5F8;

$grey:                  #D5DBE2;

$grey-blue:             #76879E;
$dark-grey:             #333333;
$dark-grey-100:         #1B2C45;

$blue:                  #004EEF;
$purple:                #8600EF;
$red:                   #F43C3C;

$primary:               $blue;
$danger:                $red;

$body-gradient-start:   $white;
$body-gradient-end:     $light-blue;



