/*

All application variables

*/

$black:                 #000000;
$white:                 #FFFFFF;

$light-blue:            #E0EAF6;
$light-blue-100:        #F6F8FA;

$grey-blue:             #76879E;
$dark-grey:             #333333;

$blue:                  #004EEF;
$purple:                #8600EF;

$body-gradient-start:   $white;
$body-gradient-end:     $light-blue;



