/*

Styles for forms components

*/

$input-bg-color:                $light-blue-100;
$input-border-radius:           0.875rem;
$input-label-color:             $grey-blue;

$input-border-color:            $light-blue-200; 
$input-border-color--hover:     $grey; 
$input-border-color--focus:     $primary;

.form-group {
    position: relative;
    border-radius: $input-border-radius;
    overflow: hidden;

    &__input {
        display: block;
        width: 100%;
    
        border: 0.063rem solid $input-border-color;
        border-radius: $input-border-radius;
    
        background-color: $input-bg-color;
    
        padding: 2rem 0 0.625rem 1.125rem;

        font-size: 1rem;
        line-height: 1.25rem;
        color: $dark-grey-100;
    
        box-sizing: border-box;

        transition: all .3s ease-in-out;

        &:hover {
            border-color: $input-border-color--hover;
        }

        & ~ .focus-border {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0.125rem;
            background-color: $input-border-color--focus;
            transition: 0.3s;
        }

        &:focus {
            outline: none;
            border-color: $input-bg-color;

            & ~.focus-border {
                width: 100%;
                transition: 0.4s;
                left: 0;
            }
        }

        &:focus + label {
            font-size: 0.75rem;
            top: 0.75rem;
            transform: unset;
        }
    }

    &.form-group--filled {
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);

        input {
            background-color: $white;
            border-color: $white;
        }

        label {
            font-size: 0.75rem;
            top: 0.75rem;
            transform: unset;
        }
    }

    label {
        position: absolute;
        color: $input-label-color;

        top: 50%;
        transform: translateY(-50%);

        left: 1.125rem;

        transition: all .3s ease-in-out;
    }

    animation-name: shakeError;
    animation-fill-mode: forwards;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;

    &.form-group--error + .error {
        animation-name: showError;
        animation-duration: .3s;
        animation-timing-function: ease-in-out;

        opacity: 1;
        height: 100%;
    }
}

.error {
    display: inline-block;
    opacity: 0;
    height: 0;
    overflow: hidden;
    color: $danger;
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 0.312rem 0 0 1.125rem;    
}

@keyframes showError {
    from {
      opacity: 0;
      height: 0;
    }
  
    to {
      opacity: 1;
      height: 100%;
    }
  }